<div class="settings-list">
  {{! Category sort setting}}
  <div class="form-group">
    <label>{{localize (concat locPrefix "preferencesTab.categorySortSetting.label")}}</label>
    <input type="checkbox" data-categorySort name="categorySort" data-dtype="Boolean" {{checked categorySort}} />
    <p class="notes">{{localize (concat locPrefix "preferencesTab.categorySortSetting.hint")}}</p>
  </div>
</div>