/*Styles*/
.fvtt-fonts {

}

.fvtt-fonts nav, .fvtt-fonts footer {
    flex: 0;
}

.fvtt-fonts nav.sheet-tabs {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    line-height: 30px;
    font-family: Aladin, Signika, sans-serif;
    font-size: large
}S

#fonts-main-settings form .form-group > label {
    flex: 3;
}

#fonts-main-settings .tab[data-tab='fontManager'] .pack-header::before {
    content: '⊟';
    cursor: pointer;
    padding-right: 4px;
}

#fonts-main-settings .tab[data-tab='fontManager'] .pack-header.font-pack--collapse::before {
    content: '⊞';
}

.font-pack--hidden {
    display: none !important;
}

#fonts-main-settings .tab[data-tab='fontManager'] .pack-header:not(:first-child) {
    margin-top: 0.5em;
}

#fonts-main-settings .tab[data-tab='fontManager'] .form-group:not(:last-child) {
    margin-bottom: 0.5em;
}

.font-preview-text--hidden {
    display: none !important;
}

.add-font-tab-button {
    margin-bottom: 0.5em;
}

.add-font-tab-button--hidden {
    margin-bottom: 0.5em;
    display: none !important
}